.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:30px;
}
.rev{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
label{
  text-align: left;
  font-weight: bold;
  margin:5px 0;
  display: block;
  font-family: Arial, Helvetica, sans-serif
}
input{
  padding: 5px 10px;
}
input[type="submit"]{
  margin-top:20px;
  border:none;
  outline: none;
  padding:10px 20px;
  background: #000;
  color:#fff;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  cursor: pointer;
}
textarea{
  resize: none;
  height: 100px;
  width:200px;
  margin-top: 14px;
}
.post{
  box-shadow: 0 0 5px rgba(0,0,0,0.14);
  padding:15px;
  margin:10px;
  width: 240px;
}
.post h3{
  text-transform: capitalize;
}
.link a{
  background: #000;
  color:#fff;
  padding:5px 20px;
  border-radius: 5px;
  text-align: center;
  display: block;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.post form input{
  background: #000;
  color:#fff;
  padding:7px 20px;
  border-radius: 5px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  text-align: center;
}